<footer class="main">
    <section class="featured section-padding-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-md-3">
                    <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                        <div class="banner-icon">
                            <img src="~/wowy-frontend/assets/imgs/theme/icons/icon-truck.svg" alt="">
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Miễn phí vận chuyển</h3>
                            <p>Cho đơn hàng đầu tiên từ 200,000 trở lên</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-md-3">
                    <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                        <div class="banner-icon">
                            <img src="~/wowy-frontend/assets/imgs/theme/icons/icon-purchase.svg" alt="">
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Miễn phí trả hàng</h3>
                            <p>Trong vòng 30 ngày</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                        <div class="banner-icon">
                            <img src="~/wowy-frontend/assets/imgs/theme/icons/icon-bag.svg" alt="">
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Giảm 20% cho 1 sản phẩm</h3>
                            <p>Khi bạn đăng ký</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                        <div class="banner-icon">
                            <img src="~/wowy-frontend/assets/imgs/theme/icons/icon-operator.svg" alt="">
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Trung tâm hỗ trợ</h3>
                            <p>Hỗ trợ 24/7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newsletter bg-brand p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="~/wowy-frontend/assets/imgs/theme/icons/icon-email.svg" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Đăng ký nhận bản tin</h4>
                        </div>
                        <div class="col my-4 my-md-0">
                            <h5 class="font-size-15 ml-4 mb-0">
                                ...và nhận ngay <strong>
                                    phiếu giảm giá 100.000đ cho lần mua sắm
                                    đầu tiên.
                                </strong>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Form Đăng Ký -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Nhập email của bạn">
                        <button class="btn bg-dark text-white" type="submit">Gửi</button>
                    </form>
                    <!-- Kết Thúc Form -->
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="~/wowy-frontend/assets/imgs/theme/logo-default.png" alt="logo"></a>
                        </div>
                        <h4 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Liên hệ</h4>
                        <p class="wow fadeIn animated">
                            <strong>Địa chỉ: </strong>An Xuân Tây, Quảng An, Quảng Điền, Thành Phố Huế
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Điện thoại: </strong>0345084420
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Giờ làm việc: </strong>10:00 - 18:00, Thứ Hai - Thứ Bảy
                        </p>
                        <h4 class="mb-10 mt-20 fw-600 text-grey-4 wow fadeIn animated">Theo dõi chúng tôi</h4>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a class="facebook" href="https://www.facebook.com/QueNguyetDan/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="tumblr" href="#"><i class="fab fa-tumblr"></i></a>
                            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title mb-30 wow fadeIn animated">Giới thiệu</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Thông tin giao hàng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản &amp; điều kiện</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title mb-30 wow fadeIn animated">Tài khoản của tôi</h5>
                    <ul class="footer-list wow fadeIn animated">
                        @if(User.GetUserData()!=null){

                        }else{
                            <li><a href="~/Account/Login">Đăng nhập</a></li>
                        }
                        <li><a href="#">Xem giỏ hàng</a></li>
                        <li><a href="#">Danh sách yêu thích</a></li>
                        <li><a href="#">Theo dõi đơn hàng</a></li>
                        <li><a href="#">Trợ giúp</a></li>
                        <li><a href="#">Đặt hàng</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title mb-30 wow fadeIn animated">Tải ứng dụng của chúng tôi</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">Từ App Store hoặc Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4">
                                    <img src="~/wowy-frontend/assets/imgs/theme/app-store.jpg"
                                         alt="">
                                </a>
                                <a href="#" class="hover-up">
                                    <img src="~/wowy-frontend/assets/imgs/theme/google-play.jpg"
                                         alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12">
                            <p class="mb-20 wow fadeIn animated mt-md-3">Thanh toán</p>
                            <img class="wow fadeIn animated" src="~/wowy-frontend/assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">
                    &copy; 2024, <strong class="text-brand">Wowy</strong>
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Email demo: ha20051990@myshop.com-Pass:11111
                </p>
            </div>
        </div>
    </div>

</footer>